$vermeho-1815:#6d0101;
$tomate-2350c:#a90013;
$azulmarinho-2768c:#00032e;
$azul-294c:#082f64;
$roxoecuro-2627c:#33003b;
$roxo-7672c:#49326b; 

$bege-fundo:#f7f2ec;
$bege-borda:#dac3ac;

$preto-claro:#282828;