header {
    flex: 1 1 100vw;

    div {
        flex: 1 1 0;
        display: flex;
    }

    #logo,
    #logoreduzido {
        /* flex: 0 1 150px; */
        flex: 0 1 content;
        margin-top: 2.8%;
        margin-right: 60px;

    }

    #logoreduzido {
        display: none;
    }
}

nav {
    left: 0.25vw;
    flex: 1 1 100vw;
    align-items: center;
    justify-content: space-around;
    background-color: $bege-fundo;
    position: fixed;
    width: 98.4%;
    font-family: 'Kurale';
    // max-width: 97.99%;
    
    a {
        margin: 1.3%;
        font-size: 20pt;
    }
    img{
        max-width: 245px;
    }
}
footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    img{
        width: 150px;
    }
}
nav,
footer {
    border-radius: 12px;
    border: solid 1px $bege-borda;
    display: flex;
    margin: 12px 12px;
    // max-width: 100vw;
}

.navegesquerda {
    padding-left: 12px;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.navegdireita {
    padding-right: 12px;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.nav {
    height: 70px;
    max-width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: 10px;
    z-index: 4;
    
}



.nav-list {
    display: flex;
    list-style: none;
    width: 100%;
}

.nav-list a {
    font-size: 18px;
    color: $preto-claro;
    padding-block: 6px;
}



.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid $bege-borda;
    cursor: pointer;

}

.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: $bege-borda;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}


@media screen and (max-width: 750px) {
    .hamburger {
        display: block;
        z-index: 4;
        margin-inline-end: 2.6%;
    }




.nav{
    left: 0.7%;
    width: 95.8vw;
    max-width: 100%;
    position: fixed;
    
    justify-content: space-between;
    background-color: $preto-claro;


        #logoreduzido{
            display: block;
            max-width: 150px;
        }
    
    }
    .nav-list {

        position: fixed;
        top: 0;
        left: 0;
        max-width: 100vw;
        height: 23vh;
        background: $preto-claro;


        clip-path: circle(100px at 98% -53.5%);
        transition: 1s ease-in-out;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        pointer-events: none;

        #logo {
            display: none;
        }

        .navegdireita,
        .navegesquerda {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }



    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav-list a {
        color: $bege-borda;
        font-size: 24px;
        opacity: 0;

    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 40px;
        right: 13px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;

    }

}

@media screen and (max-width: 600px) {

    .nav{
        width: 94.9vw;
    }
}
@media screen and (max-width: 500px) {

    .nav{
        width: 94.5vw;
    }
}