#bg-image {
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 100%;
    background-image: url(../assets/images/bg-anjohamaral.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 12px 8px;
}



main {
    margin-top: 86px;
    flex: 20 1 700px;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 1px;
    display: flex;
}

footer {
    flex: 1 1 100vw;

}

.hero,
.sessao {
    width: 100vw;
    margin: 12px;
    border: solid 1px $bege-borda;
    border-radius: 12px;


}

.hero {
    overflow: hidden;
    height: 100vh;
}

.cta {
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 61vh;
    // height: calc(61vh - 150px);
    font-weight: normal;
    

    h1 {
        font-family: 'MonCheri', serif;
        line-height: 115%;
        max-width: 940px;
        font-size: clamp(48px, 4vw, 72px);
        text-align: center;

    }

}

.destino {
    color: rgb(241, 171, 31);
}


.cta-btton {
    border: 1px solid $bege-borda;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.8s;

    font-family: 'MonCheri', serif;

    font-size: clamp(22px, 3vw, 24px);
    font-weight: 600;
    margin: 28px 0;
    max-width: 100%;
    padding-block: 16px;
    
}

.cta-btton:hover {
    background-color: $preto-claro;
    color: $bege-fundo;

}


.tarot-title {
    font-size: clamp(20px, 3vw, 28px);
    display: flex;
    justify-content: center;
    max-width: 100vw;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-family: 'MonCheri', sans-serif;
    border-bottom: 1px solid $bege-borda;
}

.tarot-content {
    display: flex;
    align-items: center;
    justify-content: space-between;



    img {
        max-width: 780px;

    }

    p {
        columns: clamp(450px, 580px, 780px) 1;
        margin: 40px;

    }
}




.benefit-title {
    font-weight: bold;
}

.benefit {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    padding: 24px;

    p {
        text-align: left;
    }


    img {
        max-width: 350px;
        border-radius: 20rem 20rem 0 0;
    }
}

.benefit-list {
    max-width: 55%;

}

@media screen and (max-width: 730px) {
    .tarot-content {
        flex-wrap: wrap;
    }

    .benefit-list {
        max-width: 100%;

    }
}

.tiragens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 44px 34px 44px;
    margin: 25px;
}

.tiragem {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 1085px;
    background-color: $preto-claro;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
    overflow: hidden;


    img {
        width: 100%;
        max-width: 354px;
        transition: transform 0.2s;
    }
}

.tiragem img:hover {
    transform: scale(1.2);
    z-index: 1;
}

.tiragem-info {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 14px;
    background-color: $bege-borda;
    z-index: 3;

    h2 {
        text-align: center;
    }
}

.tiragem-info button {
    color: $preto-claro;
    background-color: $bege-fundo;
    width: 310px;
    padding: 4px 8px;
    padding-block: 16px;
    border-radius: 4px;
    margin: 8px;
    border: 0;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .tiragens {
        flex-direction: column;
    }
}

.about-content {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    img {
        max-width: 350px;
        border-radius: 20rem 20rem;
    }
}

.about-description {
    max-width: 60vw;
    margin: 24px;
    justify-content: center;
    align-items: center;
    p {
        columns: 100vw 1;
        margin: 25px;

    }

    h2 {
        font-family: 'MonCheri', serif;
        line-height: 115%;
        
        font-size: clamp(48px, 5vw, 120px);
        margin-bottom: 25px;
        text-align: center;
    }
}

@media screen and (max-width: 730px) {
    .about-description{
        max-width: 100vw;
    }
    .about-content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        img {
            margin-bottom: 25px;
        }
    }

}

.btn-whatsapp{
    position: fixed;
    bottom: 10px;
    right: 8px;
    z-index: 99;
    img{
        max-width: 74px;
        transition: transform 0.4s;
    }
    img:hover{
        transform: scale(1.1);
    }

}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -130px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: $preto-claro;
    color: $bege-fundo;
    opacity: 0;
    transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width:768px) {
    .btn-whatsapp{
        img{
            max-width: 54px;
        }
    }
}